body {
    background-color: slateblue;
    color: gold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    height: 950px;
    width: 950px;
    background: white;
}

td {
    border: 1px solid black;
    position: relative;
    height: 100px;
    width: 100px;
    
}
.redGamePiece {
    border: 1px black;
    margin: auto;
    height: 80px;
    width: 80px;
    background: red;
    border-radius: 50%;
    
}

.blueGamePiece {
    border: 1px black;
    margin: auto;
    height: 85px;
    width: 85px;
    background-color: blue;
    border-radius: 50%;
}


.black {
    background-color: black;
}
.white {
    background-color: white;
}

.highlight {
    background-color: tan;
}

